<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Human Migration Services</title>
</head>
<body>
    <h1>Formalin</h1>
    <p>This apps creat by <strong>Sushen Biswas</strong> and its github ripo is: <a href="https://github.com/sushen">https://github.com/sushen </a>.if you use it thank you </p>
    <p>This apps Name <strong>Formalin</strong> and its address o is: <a href="https://human-migration-services.herokuapp.com/">https://human-migration-services.herokuapp.com/</a>.if you use it thank you </p>

    <h2>Please Send you donation if you like this apps:</h2>
    <h3>Bitcoin Address:    19YTCfeHN3LSXgCq4dWkAANDiKk8mg5Ja2</h3>

    <a href="https://human-migration-services.herokuapp.com/Privacy-Policy"><h4>Privacy-Policy of Human Migration Services App</h4></a>



</body>
</html>